
h1 {
    color: #FF0000;
    font-size: 30px;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 26px;
}
b{
      color: #7039A5;
}
ol{
  font-family:fantasy;
  font-size: 18px;
  background-color:#FFFF00;
  color:#800000;
  text-align: justify;
}
div{
  font-family:fantasy;
  font-size: 18px;
  background-color: 	#32CD32;
  color: #000080;
  text-align: justify;
}
