*{
margin: 10px;
padding: 5px;
}
h1 {
    color: #000080;
    font-size: 50px;
    text-align: center;
    font-style: oblique;
}

body{
background-color:#87CEFA;
-webkit-animation: mymove 5s infinite;
animation: mymove 5s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
from {background-color: #90EE90;}
to {background-color: 	#E0FFFF;}
}


p {
background-image: url("fondo.jpg");
/*
  background-repeat: repeat-x;
  background-position:fixed;
  background-size: 25px 50px;
  background-size: 50% 50%;*/
    font-family: verdana;
    font-size: 18px;
    color: 	#000000;
}
b{
  font-style: oblique;
}
span {
   border: 3px solid black;
   background-color: lightblue;
    color: 	#000000;
    font-size: 28px;
    text-align: right;
    font-style: cursive;
}
ol{
  font-family:fantasy;
  font-size: 18px;
  background-color:#FFFF00;
  color:#800000;
  text-align: justify;
}
div{
  font-family:fantasy;
  font-size: 18px;
  color: #000080;
  text-align: justify;
}
